[Desktop Entry]
Version=1.0
Name=Mozc Config
Name[ja]=Mozc 設定
Comment=Configuration of Mozc
Comment[ja]=Mozc の設定を行う
GenericName=Mozc Config
GenericName[ja]=Mozc 設定
Exec=/usr/lib/mozc/mozc_tool --mode=config_dialog
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/hicolor/128x128/status/mozc.png
Categories=Settings;
NoDisplay=false
StartupNotify=false

